<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>huijin blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/survey.css' %}">
</head>
<body>
 <div class="page-header">
            <h1><a href="/">희진이의 과목 정리 블로그</a></h1>
        </div>
        <nav>
        <div>
            <li><a href="/">과목</a></li>
            <li><a href="survey/">어려운 과목 조사</a></li>

        </div>
        </nav>
<div class="question2">
<h1>{{question.question_text}}</h1>

{% if error_message %}<p><strong>{{error_message}}</strong></p>{%endif%}

<form action="{% url 'survey:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{choice.id}}"/>
    <label for="choice{{forloop.counter}}">{{choice.choice_text}}</label><br/>
{%endfor %}
    <input type="submit" value="투표하기" />
</div>
</form>
</body>
</html>