<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>huijin blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/survey.css' %}">
</head>
<body>
     <div class="page-header">
            <h1><a href="/">희진이의 과목 정리 블로그</a></h1>
        </div>
        <nav>
        <div>
            <li><a href="/">과목</a></li>
            <li><a href="survey/">어려운 과목 조사</a></li>

        </div>
        </nav>
{% if latest_question_list %}
    <div class="question">
     <ul>
        {% for question in latest_question_list %}
            <li><a href="/survey/{{question.id}}">{{question.question_text}}</a></li>
        {% endfor %}

    </ul>
    </div>
{% else %}
    <p>No survey are available.</p>

{% endif %}
</body>
</html>