<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>huijin blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
 <body>
    <header>
        <div class="page-header">
            <h1><a href="">희진이의 과목 정리 블로그</a></h1>
        </div>
    </header>

    <!--<nav>
        <div>
            <li><a href="">웹 프로그래밍</a></li>
            <li><a href="">시장조사 계획서</a></li>
            <li><a href="">R 활용 기초</a> </li>
        </div>
    </nav>
    -->
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% for post in posts %}
                <div class="post">
                    <div class="date">
                        <p>published: {{ post.published_date }}</p>
                    </div>
                    <h1><a href="">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
    </body>
</html>
