<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>huijin blog</title>
</head>
 <body>
    <header>
        <div>
            <h1><a href="">희진이의 과목 정리 블로그</a></h1>
        </div>
    </header>

    <!--<nav>
        <div>
            <li><a href="">웹 프로그래밍</a></li>
            <li><a href="">시장조사 계획서</a></li>
            <li><a href="">R 활용 기초</a> </li>
        </div>
    </nav>
    -->
{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
    </body>
</html>
