<!DOCTYPE html>
{% extends 'blog/base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>huijin blog</title>
</head>
 <div class="page-header">

            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <h1><a href="/">희진이의 과목 정리 블로그</a></h1>
        </div>
        <nav>
        <div>
            <li><a href="/">과목</a></li>
            <li><a href="survey/">어려운 과목 조사</a></li>

<body>
{% block content %}
    <h1>New post</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}
</body>
</html>