.page-header {
    background-color: #DCEBFF;
    margin-top: 0;
    margin-right:500;
    margin-bottom:0;
    margin-left:300px;
    width: 850px;
    padding: 20px;
    text-align: center;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {

    font-size: 30pt;
    text-decoration: none;
}

.content {

    margin-left:330px;

}


.date {
    color: #828282;
    margin-left:500px;


}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;


}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 50px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

nav a:hover {color: gray; border-color: darkgray;}
			nav {width: 850px; height: 40px;  text-align: center; color: black; padding: 10px 0px 20px 580px;}
			nav li {display: inline; padding: 5px;}
			nav a {text-decoration: none; color: black; padding: 8px; border-style: hidden hidden solid hidden;